<nav>
    <div class="container nav__container">
        <a href="/"><h4><%= appName %></h4></a>
        <ul class="nav__menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/profile">My Profile</a></li>
            <li><a href="/login">login_testing</a></li>
            <li>
                <a href="/cart"><i class="uil uil-shopping-cart" style="font-size: 1.5rem"></i></a>
            </li>
            <!-- Search text box -->
            <li>
                <form method="GET" action="/search" id="search-form" class="search-container">
                    <a href="#" id="search-icon"><i class="uil uil-search search-icon"></i></a>
                    <input name="q" type="text" id="search-box" placeholder="Search..." />
                </form>
            </li>
        </ul>
        <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
        <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
    </div>
</nav>

<script>
    // For search text box: handle search icon click
    document.getElementById("search-icon").addEventListener("click", function (event) {
        event.preventDefault(); // Prevent default anchor behavior
        const searchBox = document.getElementById("search-box");
        const query = searchBox.value.trim(); // Get the trimmed search query
        if (!query) searchBox.focus(); // Focus on the input if empty
        const formAction = "/search?q=" + encodeURIComponent(query); // Append the query to the search form action
        window.location.href = formAction; // Redirect to the search URL
    });
    
    // For search text box: trigger form submission via keyboard "Enter"
    document.getElementById("search-box").addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            event.preventDefault(); // Prevent default form submission
            document.getElementById("search-form").submit(); // Trigger form submission
        }
    });
</script>
