<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= pageName + tabNameSeparator + appName %></title>

        <!-- ICONSCOUT CDN -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css" />

        <!-- GOOGLE FONTS (MONTSERRAT) -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

        <!-- CSS -->
        <link rel="stylesheet" href="css/style.css" />
        <style>
            body {
                background-image: url("images/bg-texture.png");
            }
            .courses {
                margin-top: 1rem;
            }
        </style>
    </head>

    <body>
        <%- include("./partials/navbar.ejs") %>
        <!-- ========================= END OF NAVBAR ========================= -->

        <section class="courses">
            <div class="container courses__container">
                <article class="course">
                    <div class="course__image">
                        <img src="images/course1.jpg" />
                    </div>
                    <div class="course__info">
                        <h4>Responsive SmartHome Website Design</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo fugit cum, labore in obcaecati distinctio? Adipisci, soluta magni!</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course__image">
                        <img src="images/course2.jpg" />
                    </div>
                    <div class="course__info">
                        <h4>Responsive SmartHome Website Design</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo fugit cum, labore in obcaecati distinctio? Adipisci, soluta magni!</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course__image">
                        <img src="images/course3.jpg" />
                    </div>
                    <div class="course__info">
                        <h4>Responsive SmartHome Website Design</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo fugit cum, labore in obcaecati distinctio? Adipisci, soluta magni!</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course__image">
                        <img src="images/course4.jpg" />
                    </div>
                    <div class="course__info">
                        <h4>Responsive SmartHome Website Design</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo fugit cum, labore in obcaecati distinctio? Adipisci, soluta magni!</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course__image">
                        <img src="images/course5.jpg" />
                    </div>
                    <div class="course__info">
                        <h4>Responsive SmartHome Website Design</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo fugit cum, labore in obcaecati distinctio? Adipisci, soluta magni!</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course__image">
                        <img src="images/course6.jpg" />
                    </div>
                    <div class="course__info">
                        <h4>Responsive SmartHome Website Design</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo fugit cum, labore in obcaecati distinctio? Adipisci, soluta magni!</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course__image">
                        <img src="images/course7.jpg" />
                    </div>
                    <div class="course__info">
                        <h4>Responsive SmartHome Website Design</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo fugit cum, labore in obcaecati distinctio? Adipisci, soluta magni!</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course__image">
                        <img src="images/course8.jpg" />
                    </div>
                    <div class="course__info">
                        <h4>Responsive SmartHome Website Design</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo fugit cum, labore in obcaecati distinctio? Adipisci, soluta magni!</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course__image">
                        <img src="images/course9.jpg" />
                    </div>
                    <div class="course__info">
                        <h4>Responsive SmartHome Website Design</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo fugit cum, labore in obcaecati distinctio? Adipisci, soluta magni!</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course__image">
                        <img src="images/course10.jpg" />
                    </div>
                    <div class="course__info">
                        <h4>Responsive SmartHome Website Design</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo fugit cum, labore in obcaecati distinctio? Adipisci, soluta magni!</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course__image">
                        <img src="images/course11.jpg" />
                    </div>
                    <div class="course__info">
                        <h4>Responsive SmartHome Website Design</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo fugit cum, labore in obcaecati distinctio? Adipisci, soluta magni!</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course__image">
                        <img src="images/course12.jpg" />
                    </div>
                    <div class="course__info">
                        <h4>Responsive SmartHome Website Design</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo fugit cum, labore in obcaecati distinctio? Adipisci, soluta magni!</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course__image">
                        <img src="images/course13.jpg" />
                    </div>
                    <div class="course__info">
                        <h4>Responsive SmartHome Website Design</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo fugit cum, labore in obcaecati distinctio? Adipisci, soluta magni!</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course__image">
                        <img src="images/course14.jpg" />
                    </div>
                    <div class="course__info">
                        <h4>Responsive SmartHome Website Design</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo fugit cum, labore in obcaecati distinctio? Adipisci, soluta magni!</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course__image">
                        <img src="images/course15.jpg" />
                    </div>
                    <div class="course__info">
                        <h4>Responsive SmartHome Website Design</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo fugit cum, labore in obcaecati distinctio? Adipisci, soluta magni!</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course__image">
                        <img src="images/course16.jpg" />
                    </div>
                    <div class="course__info">
                        <h4>Responsive SmartHome Website Design</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo fugit cum, labore in obcaecati distinctio? Adipisci, soluta magni!</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course__image">
                        <img src="images/course17.jpg" />
                    </div>
                    <div class="course__info">
                        <h4>Responsive SmartHome Website Design</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo fugit cum, labore in obcaecati distinctio? Adipisci, soluta magni!</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course__image">
                        <img src="images/course18.jpg" />
                    </div>
                    <div class="course__info">
                        <h4>Responsive SmartHome Website Design</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo fugit cum, labore in obcaecati distinctio? Adipisci, soluta magni!</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </article>
            </div>
        </section>
        <!-- ========================= END OF COURSES ========================= -->

        <%- include("./partials/footer.ejs") %>
        <!-- ========================= END OF FOOTER ========================= -->

        <script src="main.js"></script>
    </body>
</html>
