.checkout-container {
    padding: 4rem;
    text-align: center;
    background-color: var(--color-bg1);
    color: #ffffff;
    max-width: 1300px;
    margin: 2rem auto;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.checkout-container h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.cart-item {
    display: flex;
    align-items: center;
    background-color: var(--color-bg);
    margin-bottom: 1.5rem;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cart-item img {
    width: 250px;
    height: 130px;
    overflow: hidden;
    border-radius: 5px;
    margin-left: 7rem;
}

.cart-item div {
    flex-grow: 1;
    text-align: center;
}

.cart-item h4 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.cart-item p {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.total {
    font-size: 1.5rem;
    margin-top: 3rem;
    background-color: var(--color-bg2);
    padding: 0.8rem;
    border-radius: 5px;
}

.checkout-actions {
    margin-top: 2rem;
}

.checkout-actions .btn-primary {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.checkout-actions .btn-primary:hover {
    background-color: #0056b3;
}
