/* =================== LOGIN PAGE ===================== */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.form-section {
    background-color: rgb(17, 38, 73);
    border-radius: 20px;
    padding: 5rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    width: 100%;
    color: #fff;
}

.form-section h2 {
    margin-bottom: 2.5rem;
    text-align: center;
}

.error-message {
    background-color: #f23232;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.form-group {
    margin-bottom: 3rem;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
    font-weight: 600;
}

.form-group input {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    background-color: var(--color-bg);
    color: #fff;
}

.toggle-password {
    margin-top: 0.5rem;
    display: inline-block;
    cursor: pointer;
    color: #aec7ff;
}

button[type="submit"] {
    width: 100%;
    padding: 1rem;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.login-redirect {
    margin-top: 1.5rem;
    text-align: center;
}

.login-redirect a {
    color: #f7c94b;
    text-decoration: none;
    font-weight: bold;
}

.login-redirect a:hover {
    text-decoration: underline;
}

button {
    background-color: #546f8b;
    color: #fff;
    padding: 1.2rem 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 100;
}

button:hover {
    background-color: #293644;
}

.role-buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0;
}
