/* ----------- Login Page CSS ------------- */

* {
    margin: 0 auto;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Form section styling */
.form-section {
    background-color: #2e3267; /* Match background color */
    border-radius: 20px;
    padding: 3rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    color: #fff;
}

/* Form header */
.form-section h2 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    text-align: center;
}

/* Error message styling */
.error-message {
    background-color: #f23232;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    text-align: center;
}

/* Form group styling */
.form-group {
    margin-bottom: 2.5rem;
}

/* Labels */
.form-group label {
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
}

/* Input fields */
.form-group input {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    background-color: #424890; /* Match input background */
    color: #fff;
}

/* Toggle password visibility */
.toggle-password {
    margin-top: 0.5rem;
    display: inline-block;
    cursor: pointer;
    color: #f7c94b;
    font-size: 1rem;
}

/* Login button */
button[type="submit"] {
    width: 100%;
    padding: 1rem;
    background-color: #00bf8e; /* Use a nice contrasting color */
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #009b75;
}

/* Redirect link */
.login-redirect {
    margin-top: 1.5rem;
    text-align: center;
}

.login-redirect a {
    color: #f7c94b;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.login-redirect a:hover {
    text-decoration: underline;
}

/* ----------- Login Page CSS ------------- */

/* Button Styles */
button {
    background-color: #01b177;
    color: #fff;
    padding: 1.4rem 4rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #009b75;
}

button + button {
    margin-left: 5rem;
}