/* =================== EDIT PROFILE ===================== */
.profile-main {
    display: flex;
    justify-content: center;  
    align-items: flex-start;  
    padding: 2rem;            
}

.profile-container {
    padding: 2rem;
    width: 100%;
    max-width: 1700px; 
    text-align: center; 
    margin-top: 5rem; 
    background-color: var(--color-bg1);
}

.profile-container h2 {
    margin-bottom: 2rem; 
    color: white;
    text-align: center;
    font-size: 2rem;
}

.form-group {
    margin-bottom: 2.5rem;
    text-align: center; 
    font-size: 1rem;
    font-weight: bold;    
}

.form-group textarea {
    resize: vertical;
}

.profile-picture-options {
    display: flex;
    gap: 1.3rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5rem; 
}

.profile-picture-options input[type="radio"] {
    display: none;
}

.profile-picture-option {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    border: 6px solid transparent;
    transition: border-color 0.3s ease;
    margin-bottom: 1.5rem;
}

.profile-picture-options input[type="radio"]:checked + .profile-picture-option {
    border-color:white;
}

.form-group input,
textarea {
    width: 50%;
    padding: 1rem;
    background: var(--color-bg);
    color: var(--color-white);
    font-size: 1rem;
    margin-left: 1rem;
    border-radius: 0.8rem;    
    vertical-align: middle;
}

.btn {
    font-size: 1rem;
    padding: 1rem 2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}